/* ================================================== generic handheld ===== */

@media handheld {
	html, body {
		font:12px/15px sans-serif;
		background:#fff;
		padding:3px;
		color:#000;
		margin:0;
	}
	* {
		float:none !important;
	}
	#container { padding:0 }
	#nav {
		display:none;
	}
	a:link, a:visited {
		text-decoration:underline !important;
		color:#0000CC !important;
	}
	a:hover, a:active {
		text-decoration:underline !important;
		color:#660066 !important;
	}
	html body #container img { 
		max-width:250px !important;
	}
}

/* ================================================== most mobile ===== */

@media only screen and (max-width:720px) {
	
	html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
	
	body { padding:0; }
	
	.assistive-text { display:none; }

/* layout */

	#container {
		width:100%;
		padding-left:0;
		padding-right:0;
	}
		
	#header {
		margin-top:0;
		padding-top:40px;
		padding-bottom:0;
	}
	
	#nav { right:1em; }
	
	#primary,
	#secondary{
		float:none;
		clear:both;
		width:100%;
	}
	
	.utility{
		display:none;
	}
	
	#bagel-here-form label,
	#bagel-here-form .txt {
		display:block;
		margin:0 auto .5em;
	}
	
/* sections */
	
	#shopping-list {
		width:auto;
	}
	
	#shopping-list,	
	#shopping-list .super {
		padding-right:0;
	}
	
	#shopping-list ul input[type="checkbox"]{
		display:inline-block !important;
		float:none;
	}

/* upcoming */

	.widget-upcoming ul {
		padding-left:0;
	}
	
	.widget-upcoming h2,
	.widget-upcoming li {
		display:none;
	}
	
	.widget-upcoming li:first-child {
		display:block;
		padding-top:.25em;
		font-family:Chunk, Arial, Helvetica, Sans-serif;
		text-align:center;
	}
	
	.widget-upcoming strong{
		display:block;
		float:none;
		width:auto;
		margin-bottom:.5em;
	}
}

/* ================================================== iphone portrait ===== */

@media only screen and (max-width:320px) {
	
	body { font-size:14px; }
	
	#container {
		width:280px;
		padding-left:10px;
		padding-right:0;
	}
	
	#site-title {
		font-size:3em;
	}
	
	#bagel-here-form fieldset{
		padding-left:1em;
	}
	
	#bagel-here-form label,
	#bagel-here-form .txt {
		margin-left:0;
		text-align:left;
	}
	
/* sections */

	/* shopping list */
	
	#shopping-list h2,
	#shopping-list h3 { padding-bottom:.5em; }
	
	#shopping-list {
		padding-left:30px;
	}
	
	#shopping-list ul input[type="checkbox"]{
		margin-top:0;
	}
	
/* widgets */

	/* upcoming */
	.widget-upcoming li:first-child {
		font-size:14px;
	}	
}

/* ================================================== between iphone-landscape and ipad-portrait ===== */

@media only screen and (min-width:321px) and (max-width:720px) {
	
	#shopping-list {
		width:66%;
		margin:0 auto;
		padding:0;
	}
}

/* ================================================== non-mobile reset ===== */

@media only screen and (min-width:720px) {
	
}