@model DayBeforeReminderEmailModel
@{
    Layout = "~/Views/Shared/_MailLayout.cshtml";
}

<h2>@Model.Bageller.Name,</h2>

<p>You&rsquo;re up to bring bagels tomorrow, so don&rsquo;t forget&hellip; or else&hellip;</p>

<p><b>Here&rsquo;s your shopping list:</b></p>

@if (Model.ShoppingList.Locations.Any())
{
<ul class="item-list" style="list-style-type:none; padding-left:12px;" >
@foreach (var location in Model.ShoppingList.Locations)
{
	<li>
		<h3 class="icon-accordion">@location.Name</h3>
		<ul style="list-style-type:none; padding-left:6px">
		@foreach (var bagel in location.Bagels)
		{ 
			<li><label><input type="checkbox" /><span class="description">@bagel.Key</span> <span class="quantity">(@bagel.Value)</span></label></li>
		}
		</ul>
	</li>
}
</ul>
}