@{
    ViewBag.Title = "about us";
	ViewBag.BodyClass = "about";
	ViewBag.Message = "about";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
	<h2>@ViewBag.Message</h2>
}
<div id="primary">
	@Html.Partial("_Lorem")
</div>
<!-- #primary -->
<div id="secondary">
	<aside class="widget-area" role="complementary">
		widgets
	</aside>
</div>
