@{
    ViewBag.Title = "about us";
	ViewBag.BodyClass = "about";
	ViewBag.Message = "about";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
	<h2>@ViewBag.Message</h2>
}
<aside id="secondary" class="widget-area" role="complementary">
	widgets
</aside>
<!-- #secondary -->
<section id="primary">
	@Html.Partial("_Lorem")
</section>
<!-- #primary -->