@{
    ViewBag.Title = "about";
	ViewBag.BodyClass = "about";
	ViewBag.Message = "about";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
	<h2>@ViewBag.Message</h2>
}
<aside id="secondary" class="widget-area" role="complementary">
	About Aside
</aside>
<!-- #secondary -->
<section id="primary">
	<h3>About Bagel Club</h3>
	<p>Madness? This&hellip; is&hellip; <big>BAGEL CLUB!!!</big></p>
</section>
<!-- #primary -->