@if (!String.IsNullOrEmpty(ViewBag.Message))
{
	<h2>@ViewBag.Message</h2>
}

<p>Thank you! The club members have been notified that the bagels have arrived. Please print this page and place it next to the the bagel area.</p>