@model HomeModel
@{
    ViewBag.Title = "home page | bagel club";
	ViewBag.BodyClass = "home";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
	<h2>@ViewBag.Message</h2>
}
<div id="primary">
	@Html.Partial("_ShoppingList", Model.ShoppingList)
	<!-- TODO: "Bagels are here" form -->
</div>
<!-- #primary -->
<div id="secondary">
	<aside class="widget-area" role="complementary">
		@Html.Partial("_UpcomingBagellers", Model.Bagellers)
	</aside>
</div>
<!-- #secondary -->