@model HomeModel
@{
    ViewBag.Title = "home";
	ViewBag.BodyClass = "home";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
	<h2>@ViewBag.Message</h2>
}
<aside id="secondary" class="widget-area" role="complementary">
	@Html.Partial("_UpcomingBagellers", Model.Bagellers)
</aside>
<!-- #secondary -->
<section id="primary">
	@Html.Partial("_ShoppingList", Model.ShoppingList)
	<!-- TODO: "Bagels are here" form -->
</section>
<!-- #primary -->