@font-face {
	font-family:'MTF-Chubb';
	src:url('../Fonts/mtf_chubb.eot');
	src:url('../Fonts/mtf_chubb.eot?#iefix') format('embedded-opentype'),
	 url('../Fonts/mtf_chubb.woff') format('woff'),
	 url('../Fonts/mtf_chubb.ttf') format('truetype'),
	 url('../Fonts/mtf_chubb.svg#MTFChubbRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'Chunk';
	src:url('../Fonts/chunk.eot');
	src:url('../Fonts/chunk.eot?#iefix') format('embedded-opentype'),
	 url('../Fonts/chunk.woff') format('woff'),
	 url('../Fonts/chunk.ttf') format('truetype'),
	 url('../Fonts/chunk.svg#ChunkFiveRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* ================================================== base:colors ===== */

/* http://www.colorzilla.com/gradient-editor/ */

/**
 * lt		#E5E0B7
 * md lt	#BFAF7F
 * md dk	#57432A
 * dk		#2B1B0D
 * md blue	#3D6C99
 * lt blue	#8AB8E5
 * orange	#913C11
 */

#colorblocks {
	position:fixed;
	top:0;
	right:0;
	width:82px;
	padding-top:.25em;
}

#colorblocks li{
	font-size:24px;
	text-transform:uppercase;
	line-height:1em;
	height:1em;
	width:1em;
	text-align:center;
	padding:1em;
	font-weight:bold;
	color:#fff;
	-webkit-text-stroke: 1px #333;
	text-stroke: 1px #333;
}

#colorblocks .block1 { background-color:#E5E0B7; }
#colorblocks .block2 { background-color:#BFAF7F; }
#colorblocks .block3 { background-color:#57432A; }
#colorblocks .block4 { background-color:#2B1B0D; }
#colorblocks .block5 { background-color:#3D6C99; }
#colorblocks .block6 { background-color:#8AB8E5; }
#colorblocks .block7 { background-color:#913C11; }

html { color:#111;}

body { color:#2B1B0D; }

#container {
	background-color:#fff; /* Old browsers */
}

a, a:link { color:#8AB8E5; text-decoration:none; }
a:visited, a:hover, a:active, a:focus { color:#3D6C99; }

/* ================================================== base:layout ===== */

body { padding: .5em 0; }

#container {
	position:relative;
	width:720px;
	margin:0 auto;
	text-align:left;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:1em;
}

.group{
	width:100%;
}

#primary, #secondary{
	float:right;
	display:inline;
	width:50%;
}

/* ================================================== base:typography ===== */

html {
	font-family:"Courier New", Courier, Monospace;
	font-size:10px;
	text-align:left;
	color:#111;
}

body{
	font-family:Tahoma, Verdana, Sans-serif;
	font-size:18px;
	font-smooth:10px;
	text-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:Chunk, Arial, Helvetica, Sans-serif;
	font-weight:normal;
	margin-bottom:.125em;
	text-transform:lowercase;
}

h1 { font-size:2em;}
h2 { font-size:1.5em; }
h3 { font-size:1.25em; }
h4 { font-size:1.125em;}
h5, h6 { font-size:1em; }

p, ul {
	margin-bottom:20px;
	line-height:1.6em;
}

/* ================================================== base:tables ===== */

table.super{ }

table.super caption,
table.super th,
table.super td {
	padding:.5em 1em;
	border:1px solid #BFAF7F;
}

table.super caption {
	font-weight:bold;
	border-bottom:none;
}

table.super th { font-weight:bold; color:#57432A; }

/* 
table.super td { background-color:#fff; }

table.super caption,
table.super th,
table.super tr.odd td { background-color:#eee; }

table.super thead th,
table.super tfoot td,
table.super tr.odd th { background-color:#ddd; }
*/

/* ================================================== base:forms ===== */

fieldset.super{
	position:relative;
	padding:0 .75em .5em .75em;
	margin:0 0 1.5em 0;
}

fieldset.super legend {
	font-size:1.2em;
	font-weight:bold;
}

fieldset.super label {
	display:block;
}

fieldset.super fieldset label {
	display:inline;
	width:auto;
}

fieldset.super textarea {
	min-height:75px;
}

input.txt,
input[type="text"],
input[type="password"],
textarea {
	width:200px;
	border:3px solid #57432A;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	border-radius:1em;
	padding:.25em .75em;
	color:inherit;
}

input.txt:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	outline:0;
	border-color:#BFAF7F;
}
/* ================================================== validation ==== */

.field-validation-error,
.input-validation-error,
.validation-summary-errors { color:#c00; }

.field-validation-valid,
.validation-summary-valid { display:none; }

.input-validation-error {
	border:1px solid #c00;
	background-color:#cee;
}

.validation-summary-errors { font-weight:bold; }

/* ================================================== base:btns + icons ===== */

.btn, a.btn {
	display:inline-block;
	font-family:Chunk, Arial, Helvetica, Sans-Serif;
	font-size:14px;
	border:.5em solid #913C11;
	-moz-border-radius:1.5em;
	-webkit-border-radius:1.5em;
	border-radius:1.5em;
	padding:.25em .5em;
	color:#913C11;
	-moz-box-shadow:.125em .125em .25em rgba(145, 60, 17, .25);
	-webkit-box-shadow:.125em .125em .25em rgba(145, 60, 17, .25);
	box-shadow:.125em .125em .25em rgba(145, 60, 17, .25);
	background-color:#fff;
}

.btn:hover,
.btn:focus{
	-moz-box-shadow:.125em .125em .25em rgba(145, 60, 17, .5);
	-webkit-box-shadow:.125em .125em .25em rgba(145, 60, 17, .5);
	box-shadow:.125em .125em .25em rgba(145, 60, 17, .5);
}

.btn-here {
	margin-left:auto;
	margin-right:auto;
	font-size:24px;
}

.btn-submit { }

.utility,
.super .utility {
	position:absolute;
	top:0;
	right:0;
	margin:0;
	padding-right:1em;
}

.utility .btn {
	float:right;
	margin-left:.5em;
}

.icon {
	display:inline;
	float:left;
	vertical-align:middle;
	width:16px;
	height:16px;
	margin-left:-16px;
	margin-right:4px;
	overflow:hidden;
	text-indent:-999em;
	background:transparent url("../Images/ui/ui-icons_222222_256x240.png") no-repeat 0 0;
}

.icon-accordion .icon {
	background-position:-32px -16px;
}

.open .icon-accordion .icon{
	background-position:-64px -16px;
}
/* ================================================== base:item-list ===== */

.item-list,
.item-list ul {
	list-style-type:none;
	padding-left:0;
}

/* ================================================== header ===== */

#header {
	position:relative;
	padding-top:30px;
	padding-bottom:30px;
}	

#branding { }

#site-title {
	font-family:Chunk, Arial, Helvetica, Sans-Serif;
	margin-bottom:0;
	font-size:60px;
	line-height:auto;
	text-align:center;
}

#site-title a { 
	color:#913C11;
	-moz-text-shadow:3px 3px .5em rgba(145, 60, 17, .25);
	-webkit-text-shadow:3px 3px .5em rgba(145, 60, 17, .25);
	text-shadow:3px 3px .5em rgba(145, 60, 17, .25);
}

#site-description { }

/* ================================================== nav:primary ===== */

#nav {
	position:absolute;
	height:30px;
	top:0;
	right:0;
}

#nav .menu {
	padding-top:10px;
	text-align:right;
}

.menu li {
	display:inline-block;
}

.menu li a {
	display:block;
	height:1em;
	border-radius:1em;
	padding:.5em 1em .75em;
	font-size:10px;
	line-height:1em;
	text-transform:uppercase;
}

.menu li a:hover {
	color:#fff;
	background-color:#3D6C99;
}

.menu li.selected a,
.home .menu .nav-main0 a,
.about .menu .nav-main1 a {
	border:0;
	color:#2B1B0D;
	font-weight:bold;
	background-color:transparent;
	cursor:default;
}


/* ================================================== logindisplay ===== */

#logindisplay {
	display:none;
	text-align:right;
	margin:10px;
	color:White;
}

/* ================================================== main ===== */

#main {
	padding:30px 30px 15px 30px;
	background-color:#fff;
	margin-bottom:30px;
	_height:1px; /* only IE6 applies CSS properties starting with an underscore */
}

#primary { }

#content { }

#secondary { }

/* ================================================== footer:base ===== */

#footer {
	color:#57432A;
	padding:10px 0;
	text-align:center;
	line-height:normal;
	margin:0;
}

#footer a { }

#site-legal { }

#site-legal small { font-size:10px; }

/* ================================================== widgets:base ===== */

.widget-area { }

.widget-container { }

.widget { position:relative; }

.widget-title { }

.widget-content { }


/* ================================================== widgets:footer ===== */

#supplementary { }


/* ================================================== widgets:specific ===== */

.widget-utility-menu { }

.widget-social-menu { }


/* ================================================== default:ie ===== */

.lte8 { }

.lte7 { }

.ie6 { }
