/* styles for per-page instances */

/* ================================================== page:home ===== */

body.home { }

/* ================================================== shopping list ===== */
#shopping-list input[type="checkbox"]{
	display:none;
}
#shopping-list ul{
	display:none;
}
#shopping-list .open ul{
	display:block;
}
/* ================================================== widget:upcoming ===== */

.widget #upcoming li{
	color:#ccc;
	font-size:14px;
	clear:both;
}
.widget #upcoming li:first-child{
	color:#999;
	font-size:18px;
}
.widget #upcoming strong{
	float:left;
	display:inline;
	width:35%;
	white-space:nowrap;
}