/* styles for per-page instances */

/* ================================================== page:home ===== */

body.home { }

/* ================================================== page:home ===== */

body.about { }

/* ================================================== shopping list ===== */

#shopping-list h3 {
	color:#57432A;
	cursor:pointer;
	text-transform:none;
}

#shopping-list .open h3,
#shopping-list .open h3:hover {
	color:#67533A;
}

#shopping-list h3:hover {
	color:#BFAF7F;
}

#shopping-list h3 .icon {
	margin-top:.125em;
}

#shopping-list .utility{
	top:-2em;
}

#shopping-list ul {
	color:#BFAF7F;
}

#shopping-list .open ul {
	display:block;
}

#shopping-list ul ul {
	display:none;
}

#shopping-list .open li {
	padding-left:1em;
}

#shopping-list .quantity {
	font-size:.75em;
}

#shopping-list .alternates {
	font-size: .75em;
	display: inline-block;
	margin-left: 20px;
}

#shopping-list input[type="checkbox"] {
	display:none;
	float:left;
	margin-right:1em;
	margin-top:.55em;
}

input[type="checkbox"]:checked + .description,
input[type="checkbox"][checked] + .description {
	font-style:oblique;
	text-decoration:line-through;
}

/* ================================================== bagels are here form ===== */

#bagel-here-form fieldset {
	display:none;
}

#bagel-here-form label {
	font-weight:bold;
}

#bagel-here-form label,
#bagel-here-form .txt {
	display:inline-block;
	margin-right:.5em;
}

/* ================================================== widget:upcoming ===== */

.widget-upcoming .utility{ }

.widget-upcoming ul {
	padding-left:1em;
}

.widget-upcoming li{
	color:#E5E0B7;
	font-size:14px;
	clear:both;
}

.widget-upcoming li:first-child{
	color:#BFAF7F;
	font-size:18px;
}

.widget-upcoming strong{
	float:left;
	display:inline;
	width:35%;
	white-space:nowrap;
}