
@media print {
	
	@page {
		size:8.5in 11in landscape;
		margin:2cm 1.5cm 2.5cm;
	}
	
	.icon { display:none; }
	
	* { background:transparent !important; color:black !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; }
	
	body { font-size:12px; }
	
	a, a:visited { color:#444 !important; text-decoration:underline; }
	
	a[href]:after { content:" (" attr(href) ")"; }
	
	abbr[title]:after { content:" (" attr(title) ")"; }
	
	a[href*="images/"]:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	#site-title a:after { content:""; }
	
	pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
	
	thead { display:table-header-group; }
	
	tr, img { page-break-inside:avoid; }
	
	img { max-width:100% !important; }
	
	p, h2, h3 { orphans:3; widows:3; }
	
	h2, h3 { page-break-after:avoid; }
	
	.no-print { display:none; }
	
	.print { display:block !important; }

	/* layout reset */
	
	#container,
	#primary,
	#secondary {
		width:100%;
	}
	
	#header {
		margin-top:0;
		padding-top:0;
		padding-bottom:10px;
	}
	
	#site-title {
		font-size:42px;
	}
	
	#site-title a { text-decoration:none; }
	
	#primary,
	#secondary{
		clear:both;
	}
/* sections */

	/* shopping-list */
	
	#shopping-list h3 { padding-bottom: .5em; }
	
	#shopping-list .super,
	#shopping-list .open li {
		padding-left:0;
		padding-right:0;
	}
	
	#shopping-list .item-list ul {
		display:block !important;
	}
	
	#shopping-list li {
		float:left;
		display:inline;
		width:33%;
	}
	
	#shopping-list li li {
		float:none;
		display:block;
		width:100%;
	}
	
	#shopping-list ul input[type="checkbox"]{
		display:inline-block !important;
		float:none;
		margin-top:0;
	}

/* widgets */
	
	/* widget-upcoming */

	.widget-upcoming ul {
		padding-left:0;
	}
	
	.widget-upcoming h2,
	.widget-upcoming li {
		display:none;
	}
	
	.widget-upcoming li:first-child {
		display:block;
		padding-top:.25em;
		font-family:Chunk, Arial, Helvetica, Sans-serif;
		font-size:18px;
		text-align:center;
	}
	
	.widget-upcoming strong{
		display:block;
		float:none;
		width:auto;
		margin-bottom:.5em;
	}
}
