<form id="bagel-here-form" class="widget group no-print">
	<fieldset class="super">
		<label for="location">They're located:</label>
		<input type="text" class="txt" name="location" id="bagel-location" />
	</fieldset>
	<button class="btn btn-here">Bagels are here!</button>
</form>