@model ShoppingListModel
<section id="shopping-list" class="group">
	<h2>shopping list</h2>
	@if (Model.Locations.Any())
	{
	<fieldset class="super">
		<div class="utility no-print">
			<button type="button" class="btn btn-print">Print All</button>
			<button type="button" class="btn btn-edit">Edit</button>
		</div>
		<ul class="item-list">
		@foreach (var location in Model.Locations)
		{
			<li>
				<h3 class="icon-accordion">@location.Name</h3>
				<ul>
				@foreach (var bagel in location.Bagels)
				{ 
					<li><label><input type="checkbox" /><span class="description">@bagel.Name</span> <span class="quantity">(@bagel.Quantity)</span></label>
					@if(!bagel.Alternates.IsNullOrEmpty()) {
						<span class="alternates">Alternates: @string.Join(",", bagel.Alternates)</span>
					}
					</li>
				}
				</ul>
			</li>
		}
		</ul>
	</fieldset>
	}
	else
	{
		<p class="error">No locations.</p>
	}
</section>