@model IEnumerable<BagelClub.Models.Bageller>
<h2>Upcoming Bagellers</h2>
@if (Model.Any()){
<ul>
@foreach(var bageller in Model){
	<li>@bageller.Name - @bageller.NextPurchaseDate.ToShortDateString()</li>
}
</ul>
}