@model IEnumerable<BagelClub.Models.Bageller>
<div class="widget-upcoming widget">
	<h2>Upcoming Bagellers</h2>
	@if (Model.Any())
	{
	<ul id="upcoming" class="item-list">
		@foreach (var bageller in Model)
		{
		<li><strong>@bageller.NextPurchaseDate.ToShortDateString()</strong> @bageller.Name </li>
		}
	</ul>
	}
	else
	{
		<p>Sorry.</p>
	}
</div>