@model IEnumerable<BagelClub.Models.Bageller>
<div class="widget-upcoming widget group">
	<h2>Upcoming Bagellers</h2>
	@if (Model.Any())
	{
	<div class="utility no-print">
		<button type="button" class="btn btn-edit">Edit</button>
	</div>
	<ul id="upcoming" class="item-list">
		@foreach (var bageller in Model)
		{
		<li><strong>@bageller.NextPurchaseDate.ToShortDateString()</strong> @bageller.Name </li>
		}
	</ul>
	}
	else
	{
		<p class="error">No bagellers.</p>
	}
</div>