<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.8" />
  <package id="FluentScheduler" version="1.0.7" />
  <package id="Glimpse" version="0.86" />
  <package id="Glimpse.Mvc3" version="0.86" />
  <package id="Laughlin.Common" version="1.0.826" />
  <package id="Laughlin.Common.Mvc" version="1.0.826" />
  <package id="log4net" version="1.2.11" />
</packages>